#title{
    background-color: #ff4c68;
    color: white;
}

.calltoaction{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight:700;
    line-height: 1.5;;
}

.container-fluid{
    padding: 3% 15%;
}


.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-display: 1.2rem;
    font-family: 'montserrat', sans-serif;
}

.download-buttom{
    margin: 5% 3% 5% 0%;
}

.doguinho{
    transform: rotate(30deg);
    width: 250px;
    right: 200px;
    position: absolute;
    z-index: 0;
}

.feature{
    text-align: center;
    padding: 5%;
}

#features{
    padding: 7% 15%;
    background-color: white;
}

.h3-feature{
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
}

#features{
    position: relative;
}

#footer{
    background-color: #efc372;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    border-top-style: double ;
    margin: 0;
}

.icon{
    color: #ef8172;
    margin-bottom: 1.5rem;
}

.icon:hover{
    color: #ff4c68;
}

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

h2{
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
}

.testemonialpicture{
    border-radius: 100%;
    width: 10%;
    margin: 3%;
}

#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3% ;
}

.logoimage{
    width: 15%;
    margin: 20px 20px 50px;
}

.dogname{
    font-size: 1.2rem;
}

#pricing{
    text-align: center;
    padding: 7% 10%;
}

.card{
    box-shadow: 7px 7px gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card:hover{
    box-shadow: none;
}


@media (max-width: 1000px){
    .doguinho{
        position: static;
        transform: rotate(0);
    }

    #title{
        text-align: center;
    }

    
}